# Example .gitignore file for your config dir. Lines with ! will not be ignored.
!*.yaml
!.gitignore
!.md

*.conf
*.txt
*.log
*.py
*.db
*.sqlite
*.xml

.c9
.cloud
.storage
certs
deps
tts
www/people
zones/kam_work
custom_components

.HA_VERSION
.uuid
.google.token
.spotify-token-cache
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
zones/personal.yaml